

.dashboard {
  .detail {
    padding-top: 1rem !important;
  }
  .Page-content {
    max-width: 1540px;
    /* margin-left:auto ;
    margin-right: auto; */
    padding: 2.5rem;
  }
  .stats-section {
    max-width: 1478px;
    .strategy-container{
      background: #2b2b4a;
      border-radius: 3.2rem;
      padding: 3rem;
      margin-top: 5rem;
      .strategy-title{
        font-size: 24px;
        font-weight: 700;
        line-height: 27px;
      }
      .state-group {
        display: flex;
        width: 100%;
        margin: 3rem 0 3rem 0;
      }
      .strategy-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
      }
      
      .value {
        color: white;
      }
      
    }
    .detail {
      padding-top: 1rem !important;
    }
    .title{
      font-size: 14px !important;
      font-weight: 400 !important;
    }
    .icon>img {
      margin: auto;
    }
  }
  .token-section {
    max-width: 1478px;
    display: flex;
    flex-direction: column;
    padding: 0;
    .token-title {
      font-size: 36px;
      font-weight: 700;
      line-height: 4rem;
      margin-top: 10rem;
    }
    .strategy-container{
      margin-top: 3rem;
      padding: 0 4rem 0 4rem;
    }
    .token-content {
      display: flex;
      justify-content: space-between;
    }
    .token-content>.strategy-container{
      width: 49%;
    }
    .icon {
      border-radius: 0 0 1rem 1rem;
    }
    .strategy-content{
      display: block;
      
    }
    .stats-block{
      .btn-label{
        color: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
      }
      .btn-label>span {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        color: #00FF6E;
      }
      .header {
        border-radius: 2.7rem 2.7rem 0 0;
        background: linear-gradient(90deg, rgba(240, 0, 231, 0.225) 2.87%, rgba(255, 255, 255, 0) 100%);

      }
      .body {
        background: linear-gradient(90deg, rgba(0, 197, 240, 0.225) 2.87%, rgba(255, 255, 255, 0) 100%);

      }
      .footer {
        border-radius:  0 0 2.7rem 2.7rem;
        background: linear-gradient(90deg, rgba(240, 0, 231, 0.225) 2.87%, rgba(255, 255, 255, 0) 100%);
      }
      .strategy-btn {
        border-radius: 1rem;
        border: solid 1px #b2b2bd;
      }
      .green-btn {
        background: #00B981;
        .btn-label {
          color: black !important;
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
    .App-card-divider {
      margin: 0;
    }
    .title{
      font-size: 15px !important;
      font-weight: 400 !important;
    }
    .value {
      font-size: 2.4rem;
      font-weight: 700;
      color: #FFFFFF;
    }
    
    .App-card-row{
      line-height: 6.5rem;
      padding: 1rem ;
      border: solid 1px #9595a5;
    }
    .btn-label {
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .market-section{
    margin-top: 3rem;
    padding: 0;
    .icon {
      width: 4rem;
      height: 4rem;
      background: transparent;
      padding: 0;
    }
    .market-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 27px;
      margin: 2rem 0 2rem 0;
    }
    .token-table{
      border-collapse: separate;
      border-spacing: 0 1em;
    }
    .title {
      font-size: 16px;
      font-weight: 800;
      line-height: 18px;
    }
    .token-table>thead>tr>th:last-child {
      text-align: center;
    }

    .token-table>tbody>tr>td {
      background: #2b2b4a;
    }
    .token-table>tbody>tr>td:first-child{
      border-radius: 1.4rem 0 0 1.4rem;
    }
    .token-table>tbody>tr>td:last-child{
      border-radius:  0 1.4rem 1.4rem 0;
      text-align: center;
    }
    .label {
      font-family: "Baloo";
      font-size: 20px;
      font-weight: 700;
      line-height: 32px;
      color: white;
    }
    .App-card {
      background: #2b2b4a;
      border-radius: 14px;
      border: 4px 4px 0px 4px;

    }
  }
  
  .strategy-container{
    border-radius: 3.2rem;
    background: #2b2b4a;
  }
  .align-right{
    display: block;
    padding-top: 3rem;
  }
  .strategy-link>a {
    color: white;
    text-decoration: none;
  }
  .btn .btn-label {
    margin: 0 1rem 0 1rem;
  }
  .table-row{
    margin-top: 3rem;
    .title {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.7rem;
    }
    .value {
      font-weight: 700;
      font-size: 20px;
      margin: 2rem 0 2rem 0;
    }
  }
}

@media (max-width: 991px) {
  .token-content {
    display: table-column !important;
  }
  .token-content>.strategy-container{
    width: 100% !important;
  }
  .state-group {
    margin: 0 !important;
    .icon-container{
      margin-top: 3rem;
    }
  }
  .strategy-trade{
    margin-top: 3rem;
  }
}
@media (max-width: 450px){
  .stats-block{
    .App-card-row{
      display: flex;
      flex-direction: column;
      .button{
        text-align: center;
      }
    }
  }
}